@font-face {
  font-family: custom_font_1;
  src: url('../fonts/A Sensible Armadillo.ttf');
}
@font-face {
  font-family: custom_font_2;
  src: url('../fonts/AngillaTattoo_PERSONAL_USE_ONLY.ttf');
}